aiogram==2.18
aiohttp==3.8.1
aioschedule==0.5.2
aiosignal==1.2.0
appdirs==1.4.4
APScheduler==3.8.1
asdf==2.8.3
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
cssselect==1.1.0
frozenlist==1.2.0
h11==0.12.0
idna==3.3
importlib-metadata==4.10.0
jmespath==0.10.0
jsonschema==3.2.0
lxml==4.7.1
msedge-selenium-tools==3.141.3
multidict==5.2.0
numpy==1.22.0
outcome==1.1.0
packaging==21.3
parse==1.19.0
pycparser==2.21
pyee==8.2.2
pyjokes==0.6.0
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyppeteer==1.0.2
pyquery==1.4.3
pyrsistent==0.18.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.27.1
schedule==1.1.0
selenium==3.141.0
semantic-version==2.8.5
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
timeloop==1.0.2
tqdm==4.62.3
trio==0.19.0
trio-websocket==0.9.2
tzlocal==4.1
urllib3==1.26.8
w3lib==1.22.0
websockets==10.1
wsproto==1.0.0
yarl==1.7.2
zipp==3.7.0
